* {
  font-family: "Ubuntu", sans-serif;
}

.categories-container {
  position: relative;
}

.review-container {
  box-shadow: 2px 2px 30px #ccc;
  min-height: 350px;
  padding: 20px;
  width: 100%;
}
